
/* header */
#header {
	clear: both;
    height: 200px;
    width: 700px;
	padding: 1px;
	margin: 1px;
    background-color: blueviolet;
	/* background: url(images/header_bg.jpg)no-repeat; */
	/* background: url(images/header_bg_blank.jpg)repeat; */
}
#header a,a:hover {
	color: #ffffff;
}

#header #special_offers {
	float: left;
	font-size: 14px;	
	margin-top: 95px;
	margin-left: 490px;
	width: 180px;
}

